<div class="tt-footer-custom tt-color-scheme-04">
  <div class="container{% if item.fullwidth %}-fluid-custom-mobile-padding container-fluid-custom{% endif %}">
    <div class="tt-row">
      
      {% if item.footer_col %}

      <div class="col-sm-6 copygrid6">
          {%- if item.show_logoblock -%}
          <div class="tt-col-item tt-logo-col">
            <a href="/" class="tt-logo tt-logo-alignment">
              {%- if footerlogo contains "title_" -%}<h2 class="tt-title">{{ footerlogo | split:"title_" | last }}</h2>
              {%- else -%}<img src="{{ footerlogo }}" srcset="{{ footerlogo }} 1x, {{ footerlogoretina }} 2x" alt="{{ footerlogoalt }}" class="tt-retina">
              {%- endif -%}
            </a>
          </div>
          {%- endif -%}
          {%- if item.footer_address != "" -%}
          <div class="tt-col-item">
            <div class="tt-box-copyright">{{ item.footer_address }}</div>
          </div>
          {%- endif -%}
      </div>
      <div class="col-sm-6">
        {%- include "footer_paymant_list" -%}
      </div>
        
      {% else %}

      <div class="tt-col-left">
        {%- if item.show_logoblock -%}
        <div class="tt-col-item tt-logo-col">
          <a href="/" class="tt-logo tt-logo-alignment">
            {%- if footerlogo contains "title_" -%}<h2 class="tt-title">{{ footerlogo | split:"title_" | last }}</h2>
            {%- else -%}<img src="{{ footerlogo }}" srcset="{{ footerlogo }} 1x, {{ footerlogoretina }} 2x" alt="{{ footerlogoalt }}" class="tt-retina">
            {%- endif -%}
          </a>
        </div>
        {%- endif -%}
        {%- if item.footer_address != "" -%}
        <div class="tt-col-item">
          <div class="tt-box-copyright">{{ item.footer_address }}</div>
        </div>
        {%- endif -%}
      </div>

      {%- include "footer_paymant_list" -%}
      
      {% endif %}

    </div>
  </div>
</div>