{%- if infobar != '' and infobar.settings.show_content -%}
{%- assign show_content = true -%}
{%- if infobar.settings.show_content_index -%}{%- unless template contains 'index' -%}
{%- assign show_content = false -%}
{%- endunless -%}{%- endif -%}
{%- if show_content == true -%}
<!-- tt-top-panel -->
<div class="tt-top-panel"{% if infobar.settings.background_image %} style="background: url({{ infobar.settings.image | img_url: 'x150' }}) {{ settings.color_inf_bar_bg }} no-repeat center;"{% endif %}>
  <div class="container">
    <div class="tt-row" style="padding-top:{{ infobar.settings.toppadding }}px;min-height:{{ infobar.settings.minimalheight }}px;">
      <div class="tt-description" style="font-size:{{ infobar.settings.fontsize }}px;line-height:{{ infobar.settings.fontsize | plus: 7 }}px;font-weight:{{ infobar.settings.fontweight }};">
        {{ infobar.settings.text }}
      </div>
      {% if infobar.settings.show_button_close %}
      <button class="tt-btn-close" style="top:{{ infobar.settings.btnpos }}px;"></button>
      {% endif %}
    </div>
  </div>
</div>
{%- endif -%}
{%- endif -%}