{%- assign item = section.settings -%}

<div class="{% if item.top_offset == 'none' %}nomargin {% elsif item.top_offset == 'small' %}tt-offset-small {% endif %}container-indent blurbssection{{ section.id }}" data-sectionname="index_blurbssection">
  {% if item.usebgcolor %}<div{% if item.showbgimage %} style="background-image: url({{ item.image | img_url: '2048x' }});"{% endif %}>{% endif %}
  <div class="container{% if item.fullwidth %}-fluid-custom container-fluid-custom-mobile-padding{% endif %}">
    {%- if item.show_title -%}
    <div class="tt-block-title{% if item.title_to_left %} text-left{% endif %}{% if item.boxed_title and item.fullwidth %} container{% endif %}">
      <h2 class="tt-title">{{ item.text1 }}</h2>
      {%- unless item.text2 == '' -%}<div class="tt-description">{{ item.text2 }}</div>{%- endunless -%}
    </div>
    {%- endif -%}
    <div class="row obj-data-listcol js-objdata-slider js-blurbs-slider" data-slick='{"autoplay": {{ item.module_autoplay }}, "autoplaySpeed": {{ item.delay_time }}}'>
      
      {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}{%- assign b_i = block.settings -%}
      {%- case block.type -%}
      {%- when 'item' -%}
      
      <div class="{{ item.itemsinrow }}" {{ block.shopify_attributes }}>
        
        <div class="obj-data obj-data{{ block.id }} {{ item.contentalign }}{% if b_i.usemedia and b_i.mediasvg == false %} usedimage{% endif %}">
          {%- if b_i.usemedia -%}
          {%- if b_i.mediasvg -%}
          <div class="obj-data__icon">{{ b_i.svg }}</div>
          {%- else -%}
          <div class="obj-data__img respimgsize">
            {%- if b_i.image == blank -%}{%- include "get_svg" type:'image' size:'600x600px' -%}
            {%- else -%}
            <img class="lazyload"
                 data-mainimage="{{ b_i.image | img_url: '100x100' | replace: '100x100', 'respimgsize' }}"
                 alt="{{ b_i.image.alt }}">
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- endif -%}
          <div class="obj-data__content">
            {% if b_i.title != '' %}<h6 class="tt-title">{% if b_i.url == blank %}{{ b_i.title }}{% else %}<a href="{{ b_i.url }}">{{ b_i.title }}</a>{% endif %}</h6>{% endif %}
            {% if b_i.desc != '' %}<p class="tt-desc">{{ b_i.desc }}</p>{% endif %}
          </div>
        </div>

      </div>
      
      {%- when 'button' -%}
		{% capture buttonhtml %}
      
      <div class="{{ b_i.textalign }} sectionbtn">
        <a href="{% if b_i.btnurl == blank %}#{% else %}{{ b_i.btnurl }}{% endif %}" class="btn">{{ b_i.btnname }}</a>
      </div>
      
      	{% endcapture %}
      {%- endcase -%}
      
      {%- endfor -%}
      {%- else -%}
      <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
      {%- endif -%}
      
    </div>

    {{ buttonhtml }}
    
  </div>
  {% if item.usebgcolor %}</div>{% endif %}
</div>

<style>
  {% if item.usebgcolor %}
  .blurbssection{{ section.id }} > div{
    background-color: {{ item.bgco }};
    background-repeat: no-repeat;
    background-size: {{ item.imagesize }};
    background-position: {{ item.imagealign }};
  }
  
  @media (min-width: 1025px){
    .blurbssection{{ section.id }} > div{
      padding-top: {{ item.bgdepad }}px;
      padding-bottom: {{ item.bgdepad_2 }}px;
    }
  }
  @media (max-width: 1024px){
    .blurbssection{{ section.id }} > div{
      padding-top: {{ item.bgmopad }}px;
      padding-bottom: {{ item.bgmopad_2 }}px;
    }
  }
  {% if item.usemiheight %}
  @media (min-width: 791px){
    .blurbssection{{ section.id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight2 }}px;
    }
  }
  @media (min-width: 1200px){
    .blurbssection{{ section.id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight3 }}px;
    }
  }
  @media (max-width: 790px){
    .blurbssection{{ section.id }} > div > div > .row{
      align-items: center;
      min-height: {{ item.backgroundminheight1 }}px;
    }
  }
  {% endif %}
  {% endif %}
  
  .blurbssection{{ section.id }} .obj-data:not(.usedimage),
  .blurbssection{{ section.id }} .obj-data.usedimage .obj-data__content{
    padding: {{ item.blurbpadding }};
  }
  .blurbssection{{ section.id }} .tt-block-title{
    padding-bottom: {{ item.titlepadding }}px;
  }
  .blurbssection{{ section.id }} .tt-block-title .tt-title{
    font-size: {{ item.fontsizemtitle }}px;
    line-height: {{ item.lineheightmtitle }}px;
    font-weight: {{ item.fontweightmtitle }};
    color: {{ item.colortext1 }};
  }
  .blurbssection{{ section.id }} .tt-block-title .tt-description{
    margin-top: {{ item.toppaddingmdesc }}px;
    font-size: {{ item.fontsizemdesc }}px;
    line-height: {{ item.lineheightmdesc }}px;
    font-weight: {{ item.fontweightmdesc }};
    color: {{ item.colortext2 }};
  }
  .blurbssection{{ section.id }} .obj-data .tt-title {
    margin-top: {{ item.toppaddingititle }}px;
    font-size: {{ item.fontsizeititle }}px;
    line-height: {{ item.lineheightititle }}px;
    font-weight: {{ item.fontweightititle }};
  }
  .blurbssection{{ section.id }} .obj-data .tt-desc {
    margin-top: {{ item.toppaddingidesc }}px;
    font-size: {{ item.fontsizeidesc }}px;
    line-height: {{ item.lineheightidesc }}px;
    font-weight: {{ item.fontweightidesc }};
  }
  
  @media (max-width: 1024px){
    .blurbssection{{ section.id }} .obj-data:not(.usedimage),
    .blurbssection{{ section.id }} .obj-data.usedimage .obj-data__content{
      padding: {{ item.blurbpadding_mobile }};
    }
    .blurbssection{{ section.id }} .tt-block-title{
      padding-bottom: {{ item.titlepadding_mobile }}px;
    }
    .blurbssection{{ section.id }} .tt-block-title .tt-title{
      font-size: {{ item.fontsizemtitle_mobile }}px;
      line-height: {{ item.lineheightmtitle_mobile }}px;
    }
    .blurbssection{{ section.id }} .tt-block-title .tt-description{
      margin-top: {{ item.toppaddingmdesc_mobile }}px;
      font-size: {{ item.fontsizemdesc_mobile }}px;
      line-height: {{ item.lineheightmdesc_mobile }}px;
    }
    .blurbssection{{ section.id }} .obj-data .tt-title {
      margin-top: {{ item.toppaddingititle_mobile }}px;
      font-size: {{ item.fontsizeititle_mobile }}px;
      line-height: {{ item.lineheightititle_mobile }}px;
    }
    .blurbssection{{ section.id }} .obj-data .tt-desc {
      margin-top: {{ item.toppaddingidesc_mobile }}px;
      font-size: {{ item.fontsizeidesc_mobile }}px;
      line-height: {{ item.lineheightidesc_mobile }}px;
    }
  }

  .blurbssection{{ section.id }} .obj-data {
    border-radius: {{ item.bg_round }}px;
  }
 
  {%- for block in section.blocks -%}
  {%- assign b_i = block.settings -%}
  {%- case block.type -%}
  {%- when 'item' -%}
  {%- if b_i.imgbottomborder -%}
  .blurbssection{{ section.id }} .obj-data{{ block.id }}.usedimage .obj-data__img img {
    display: block;
    border-bottom: {{ b_i.border }}px solid {{ b_i.bordercolor }};
  }
  
  {%- endif - %}
  .blurbssection{{ section.id }} .obj-data{{ block.id }} {
    {% assign opacity = b_i.opacity | divided_by: 100.00 %}
    background: {{ b_i.bgcolor | color_modify: 'alpha', opacity }};
    border: {{ b_i.border }}px solid {{ b_i.bordercolor }};
    {{ b_i.item_custom_styles }}
  }
  .blurbssection{{ section.id }} .obj-data{{ block.id }} .tt-title,
  .blurbssection{{ section.id }} .obj-data{{ block.id }} .tt-title a{
    color: {{ b_i.colortext1 }};
  }
  .blurbssection{{ section.id }} .obj-data{{ block.id }} .tt-title a:hover{
    color: {{ b_i.colortext1_hover }};
  }
  .blurbssection{{ section.id }} .obj-data{{ block.id }} .tt-desc {
    color: {{ b_i.colortext2 }};
  }
  {%- when 'button' -%}
  .blurbssection{{ section.id }} .sectionbtn .btn{
    background:{{ b_i.bg_color }};
    color:{{ b_i.cbtntext }};
    {{ b_i.btn_custom_styles }}
  }
  .blurbssection{{ section.id }} .sectionbtn .btn:hover{
    background:{{ b_i.bg_color_a }};
    color:{{ b_i.cbtntext_a }};
    {{ b_i.btn_custom_styles_hover }}
  }
  @media (min-width: 1025px){
    .blurbssection{{ section.id }} .sectionbtn{
      margin-top: {{ b_i.toppadding }}px;
    }
    .blurbssection{{ section.id }} .sectionbtn .btn{
      min-width: 170px;
    }
  }
  @media (max-width: 1024px){
    .blurbssection{{ section.id }} .sectionbtn{
      margin-top: {{ b_i.toppadding_mobile }}px;
    }
  }
  {%- endcase -%}
  {%- endfor -%}
  .blurbssection{{ section.id }} .obj-data-listcol.slick-slider .slick-dots li button{
    background: {{ item.sliderbutton }};
  }
  .blurbssection{{ section.id }} .obj-data-listcol.slick-slider .slick-dots .slick-active button,
  .blurbssection{{ section.id }} .obj-data-listcol.slick-slider .slick-dots li:hover button {
    background: {{ item.sliderbutton_hover }};
  }
</style>

{% schema %}
  {
    "name": "Text section Blurbs",
    "settings": [
      {
        "type": "select",
        "id": "top_offset",
        "label": "Top Offset",
        "default": "normal",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth size",
        "default": false
      },
      {
        "type": "header",
        "content": "Title"
      },
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "title_to_left",
        "label": "Title to left",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "boxed_title",
        "label": "Boxed title when fullwidth",
        "default": false
      },
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "Text Field"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Description",
        "default": "Text field"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "colortext1",
        "label": "Titles color",
        "default": "#191919"
      },
      {
        "type": "color",
        "id": "colortext2",
        "label": "Texts color",
        "default": "#777777"
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "select",
        "id": "itemsinrow",
        "label": "Items in row",
        "default": "col-md-4",
        "options": [
          {
            "value": "col-md-6",
            "label": "2"
          },
          {
            "value": "col-md-4",
            "label": "3"
          },
          {
            "value": "col-md-3",
            "label": "4"
          },
          {
            "value": "col-md-5-inrow",
            "label": "5"
          },
          {
            "value": "col-md-2",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "contentalign",
        "label": "Content align",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
          "type":      "range",
          "id":        "bg_round",
          "min":       0,
          "max":       50,
          "step":      1,
          "unit":      "px",
          "label":     "Items background roundness",
          "default":   5
      },
      {
        "type": "header",
        "content": "Mobile slider settings"
      },
      {
        "type": "checkbox",
        "id": "module_autoplay",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "select",
        "id": "delay_time",
        "label": "Change slides every",
        "options": [
          { "value": "1000", "label": "1 seconds" },
          { "value": "2000", "label": "2 seconds" },
          { "value": "3000", "label": "3 seconds" },
          { "value": "4000", "label": "4 seconds" },
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "4000"
      },
      {
        "type": "color",
        "id": "sliderbutton",
        "label": "Mobile slider dots color",
        "default": "#dadada"
      },
      {
        "type": "color",
        "id": "sliderbutton_hover",
        "label": "Mobile slider dots hover color",
        "default": "#191919"
      },
	  {
		"type": "header",
		"content": "Style settings"
	  },
	  {
		"type": "header",
		"content": "Desktop screen"
	  },
	  {
		"type":      "range",
		"id":        "titlepadding",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Main title block bottom padding",
		"default":    41
	  },
      {
        "type": "text",
        "id": "blurbpadding",
        "label": "Content padding in the item",
		"default": "35px 25px 35px 25px",
		"info": "top, right, bottom, left. Value in px"
      },
      {
        "type": "header",
        "content": "Section title settings"
      },
      {
        "type": "paragraph",
        "content": "Main title"
      },
	  {
		"type":      "range",
		"id":        "fontsizemtitle",
		"min":       14,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Main title",
		"default":   48
	  },
	  {
		"type":      "range",
		"id":        "lineheightmtitle",
		"min":       14,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Main title",
		"default":   53
	  },
      {
        "type":      "range",
        "id":        "fontweightmtitle",
        "min":       300,
        "max":       900,
        "step":      100,
        "label":     "Font weight Main title",
        "default":   600
      },
      {
        "type": "paragraph",
        "content": "Main description"
      },
	  {
		"type":      "range",
		"id":        "toppaddingmdesc",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Main description top offset",
		"default":   0
	  },
	  {
		"type":      "range",
		"id":        "fontsizemdesc",
		"min":       14,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Main description",
		"default":   24
	  },
	  {
		"type":      "range",
		"id":        "lineheightmdesc",
		"min":       14,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Main description",
		"default":   33
	  },
      {
        "type":      "range",
        "id":        "fontweightmdesc",
        "min":       300,
        "max":       900,
        "step":      100,
        "label":     "Font weight Main description",
        "default":   400
      },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "paragraph",
        "content": "Item settings title"
      },
	  {
		"type":      "range",
		"id":        "toppaddingititle",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Item title top offset",
		"default":   0
	  },
	  {
		"type":      "range",
		"id":        "fontsizeititle",
		"min":       12,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Item title",
		"default":   24
	  },
	  {
		"type":      "range",
		"id":        "lineheightititle",
		"min":       12,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Item title",
		"default":   33
	  },
      {
        "type":      "range",
        "id":        "fontweightititle",
        "min":       300,
        "max":       900,
        "step":      100,
        "label":     "Font weight Item title",
        "default":   500
      },
      {
        "type": "paragraph",
        "content": "Item settings description"
      },
	  {
		"type":      "range",
		"id":        "toppaddingidesc",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Item description top offset",
		"default":   0
	  },
	  {
		"type":      "range",
		"id":        "fontsizeidesc",
		"min":       12,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Item description",
		"default":   18
	  },
	  {
		"type":      "range",
		"id":        "lineheightidesc",
		"min":       12,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Item description",
		"default":   24
	  },
      {
        "type":      "range",
        "id":        "fontweightidesc",
        "min":       300,
        "max":       900,
        "step":      100,
        "label":     "Font weight Item description",
        "default":   400
      },
	  {
		"type": "header",
		"content": "Mobile screen"
	  },
	  {
		"type":      "range",
		"id":        "titlepadding_mobile",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Main title block bottom padding",
		"default":    21
	  },
      {
        "type": "text",
        "id": "blurbpadding_mobile",
        "label": "Content padding in the item",
		"default": "20px 20px 20px 20px",
		"info": "top, right, bottom, left. Value in px"
      },
      {
        "type": "header",
        "content": "Section title settings"
      },
      {
        "type": "paragraph",
        "content": "Main title"
      },
	  {
		"type":      "range",
		"id":        "fontsizemtitle_mobile",
		"min":       14,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Main title",
		"default":   24
	  },
	  {
		"type":      "range",
		"id":        "lineheightmtitle_mobile",
		"min":       14,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Main title",
		"default":   31
	  },
      {
        "type": "paragraph",
        "content": "Main description"
      },
	  {
		"type":      "range",
		"id":        "toppaddingmdesc_mobile",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Main description top offset",
		"default":   0
	  },
	  {
		"type":      "range",
		"id":        "fontsizemdesc_mobile",
		"min":       14,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Main description",
		"default":   16
	  },
	  {
		"type":      "range",
		"id":        "lineheightmdesc_mobile",
		"min":       14,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Main description",
		"default":   24
	  },
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "paragraph",
        "content": "Item settings title"
      },
	  {
		"type":      "range",
		"id":        "toppaddingititle_mobile",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Item title top offset",
		"default":   21
	  },
	  {
		"type":      "range",
		"id":        "fontsizeititle_mobile",
		"min":       12,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Item title",
		"default":   24
	  },
	  {
		"type":      "range",
		"id":        "lineheightititle_mobile",
		"min":       12,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Item title",
		"default":   33
	  },
      {
        "type": "paragraph",
        "content": "Item settings description"
      },
	  {
		"type":      "range",
		"id":        "toppaddingidesc_mobile",
		"min":       0,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Item description top offset",
		"default":   13
	  },
	  {
		"type":      "range",
		"id":        "fontsizeidesc_mobile",
		"min":       12,
		"max":       100,
		"step":      1,
		"unit":      "px",
		"label":     "Font size Item description",
		"default":   18
	  },
	  {
		"type":      "range",
		"id":        "lineheightidesc_mobile",
		"min":       12,
		"max":       101,
		"step":      1,
		"unit":      "px",
		"label":     "Line height Item description",
		"default":   24
	  },
      {
        "type": "header",
        "content": "Background Settings"
      },
      {
        "type": "checkbox",
        "id": "usebgcolor",
        "label": "Use background color or padding",
        "default": false
      },
      {
        "type": "color",
        "id": "bgco",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "bgdepad",
        "label": "Vertical top padding desktop",
		"default": "80",
		"info": "integer, in px"
      },
      {
        "type": "text",
        "id": "bgdepad_2",
        "label": "Vertical bottom padding desktop",
		"default": "80",
		"info": "integer, in px"
      },
      {
        "type": "text",
        "id": "bgmopad",
        "label": "Vertical top padding mobile",
		"default": "80",
		"info": "integer, in px"
      },
      {
        "type": "text",
        "id": "bgmopad_2",
        "label": "Vertical bottom padding mobile",
		"default": "80",
		"info": "integer, in px"
      },
      {
        "type": "paragraph",
        "content": "Background image"
      },
      {
        "type": "checkbox",
        "id": "showbgimage",
        "label": "Show background image",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
	  {
		"type": "select",
		"id": "imagealign",
		"label": "Image postion",
		"default": "center",
		"options": [
		  {
			"value": "top",
			"label": "Top"
		  },
		  {
			"value": "center",
			"label": "Center"
		  },
		  {
			"value": "bottom",
			"label": "Bottom"
		  }
		]
	  },
	  {
		"type": "select",
		"id": "imagesize",
		"label": "Image size",
		"default": "cover",
		"options": [
		  {
			"value": "cover",
			"label": "Full background size"
		  },
		  {
			"value": "contain",
			"label": "Contain"
		  }
		]
	  },
      {
        "type": "checkbox",
        "id": "usemiheight",
        "label": "Use minimal height",
        "default": false
      },
      {
        "type": "text",
        "id": "backgroundminheight3",
        "label": "Min height for big screen size",
		"default": "450",
		"info": "integer, in px"
      },
      {
        "type": "text",
        "id": "backgroundminheight2",
        "label": "Min height for medium screen size",
		"default": "450",
		"info": "integer, in px"
      },
      {
        "type": "text",
        "id": "backgroundminheight1",
        "label": "Min height for mobile screen size",
		"default": "200",
		"info": "integer, in px"
      }
	],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "checkbox",
            "id": "usemedia",
            "label": "Use image or svg icon",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "mediasvg",
            "label": "Use svg icon",
            "default": true
          },
          {
            "type": "textarea",
            "id": "svg",
            "label": "Svg icon code"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "imgbottomborder",
            "label": "Image bottom border",
            "default": true
          },
          {
            "type": "header",
            "content": "Texts settings"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Title link"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Text field"
          },
          {
            "type": "textarea",
            "id": "desc",
            "label": "Description",
            "default": "A great about us block helps builds trust between you and your customers. The more content you provide about you."
          },
          {
            "type": "header",
            "content": "Item settings"
          },
          {
            "type": "color",
            "id": "bgcolor",
            "label": "Item background color",
            "default": "#ffffff"
          },
          {
              "type":      "range",
              "id":        "opacity",
              "min":       0,
              "max":       100,
              "step":      1,
              "unit":      "%",
              "label":     "Item background opacity",
              "default":   100
          },
          {
            "type": "color",
            "id": "colortext1",
            "label": "Title color",
            "default": "#191919"
          },
          {
            "type": "color",
            "id": "colortext2",
            "label": "Description color",
            "default": "#777777"
          },
          {
            "type": "color",
            "id": "colortext1_hover",
            "label": "Title hover color",
            "default": "#2267d8",
			"info": "Used with Title link"
          },
          {
              "type":      "range",
              "id":        "border",
              "min":       0,
              "max":       20,
              "step":      1,
              "unit":      "px",
              "label":     "Item border",
              "default":   5
          },
          {
            "type": "color",
            "id": "bordercolor",
            "label": "Item border color",
            "default": "#000000"
          },
          {
            "type": "header",
            "content": "Item custom styles"
          },
          {
            "type": "paragraph",
            "content": "[background: link to find your gradient](https:\/\/cssgradient.io\/);"
          },
          {
            "type": "paragraph",
            "content": "[box-shadow: link to find your value](https:\/\/www.cssmatic.com\/box-shadow);"
          },
          {
            "type": "textarea",
            "id": "item_custom_styles",
            "label": "Item background custom styles"
          }
        ]
	  },
      {
        "type": "button",
        "name": "Button",
		"limit": 1,
        "settings": [
          {
            "type": "url",
            "id": "btnurl",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "btnname",
            "label": "Button Name",
            "default": "READ MORE"
          },
          {
            "type": "select",
            "id": "textalign",
            "label": "Button align",
            "default": "text-center",
            "options": [
              {
                "value": "text-left",
                "label": "Left"
              },
              {
                "value": "text-center",
                "label": "Center"
              },
              {
                "value": "text-right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Button background color",
            "default": "#191919"
          },
          {
            "type": "color",
            "id": "cbtntext",
            "label": "Button text color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "bg_color_a",
            "label": "Button background active color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "cbtntext_a",
            "label": "Button text active color",
            "default": "#191919"
          },
          {
            "type": "header",
            "content": "Button custom styles"
          },
          {
            "type": "paragraph",
            "content": "padding: top right bottom left; Values in px"
          },
          {
            "type": "paragraph",
            "content": "[background: link to find your gradient](https:\/\/cssgradient.io\/);"
          },
          {
            "type": "paragraph",
            "content": "height: button height in px;"
          },
          {
            "type": "paragraph",
            "content": "[box-shadow: link to find your value](https:\/\/www.cssmatic.com\/box-shadow);"
          },
          {
            "type": "paragraph",
            "content": "border-radius: value in px;"
          },
          {
            "type": "paragraph",
            "content": "border: solid \"width - value in px\" \"Border color\";"
          },
          {
            "type": "paragraph",
            "content": "font-size: values in px;"
          },
          {
            "type": "paragraph",
            "content": "letter-spacing: values in em or px;"
          },
          {
            "type": "paragraph",
            "content": "font-family: your font name;"
          },
          {
            "type": "paragraph",
            "content": "font-weight: example 300 or 500 or 600;"
          },
          {
            "type": "paragraph",
            "content": "text-decoration: underline or none;"
          },
          {
            "type": "textarea",
            "id": "btn_custom_styles",
            "label": "Button custom styles",
            "info": "not for \"Underline by default\""
          },
          {
            "type": "textarea",
            "id": "btn_custom_styles_hover",
            "label": "HOVER. Button custom styles",
            "info": "not for \"Underline by default\""
          },
          {
            "type": "header",
            "content": "Desktop screen offset"
          },
          {
            "type":      "range",
            "id":        "toppadding",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "px",
            "label":     "Button top offset",
            "default":   60
          },
          {
            "type": "header",
            "content": "Mobile screen offset"
          },
          {
            "type":      "range",
            "id":        "toppadding_mobile",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "px",
            "label":     "Button top offset",
            "default":   30
          }
        ]
	  }
    ],
    "presets": [
      {
        "name": "Text section Blurbs",
        "category": "Blurbs Section"
      }
    ]
  }
{% endschema %}