{% assign shipping_value = 7500 %}
{% assign cart_total = cart.total_price %}
{% assign shipping_value_left = shipping_value | minus: cart_total %}

<p class="shipping-savings-message">
  {% if shipping_value_left > 0 %}
 You are {{ shipping_value_left | money }} away from free shipping! 
<br>
<b> <a href="/collections/all">Continue shopping</a></b> to add more products to your cart and receive free shipping for orders over $75.
 <br>
  $0 <progress max="7500" value="{{ cart.total_price }}"></progress> $75
  {% else %}
  You've got free shipping!
  {% endif %}
</p>
<div class="container-indent nomargin{% if cart.item_count > 0 %} hide{% endif %} tt-empty-cart-js">
  <div class="tt-empty-cart">
    <span class="tt-icon icon-f-39"></span>
    <h1 class="tt-title">{{ 'cart.general.empty' | t }}</h1>
    <p>{{ 'cart.general.empty_cart' | t }}</p>
    <a href="/" class="btn ttbtnmainstyle">{{ 'cart.general.continue_shopping' | t }}</a>
  </div>
</div>

{%- comment -%}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{%- endcomment -%}

<div class="line-items-box-js {% if cart.item_count == 0 %} hide{% endif %}">
{% section 'cart-template' %}
</div>